{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="pb-5">Informacje o stronie</h1>
    <P align="justify">
        Zadaniem systemu jest gromadzenie informacji na temat biletów komunikacji miejskiej. <BR>
        System z założenia miałby integrować środowisko kolekcjonerów, którzy nawzajem informowali by się o nowościach,<BR>
        jak również udostępniali sobie aktualne informacje o swoich kolekcjach.
    </P>
</div>
<BR>
<div class="container">
    <h1 class="pb-5">Informacje o autorze:</h1>
    <P align="justify">
        Nazywam się Rafał i jestem kolekcjonerem biletów komunikacji zbiorowej z Krakowa. <BR>
        Bilety zbieram od dziecka, skrzętnie gromadząc wszystkie zakupione, lub otrzymane egzemplarze.<BR>
    </P>
</div>

{% endblock content %}